* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
  
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}

.navbar {
    width: 100%;
    background-color: #d2ab7f;
    padding: 15px 0;
    height: 60px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
.navbar a:hover {
    color: #000;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}